<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>JustChat</title>
    <!--<link rel="stylesheet" href="stylesheets/bootstrap.min.css" media="screen">-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="stylesheets/register.css">
    <link rel="stylesheet" href="stylesheets/sweet-alert.css">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
</head>
<body>
    <div class="bg">
        <div></div>
    </div>
    <div class="container">
        <form class="form-register" role="form" method="post" onsubmit="return false">
            <fieldset>
                <legend></legend>
                <!--<div class="mh"></div>-->
                <div class="wrap">
                    <div class="bg-primary">
                        <p class="title">新用户注册</p>
                    </div>
                    <div class="info">
                        <div class="touxiang">
                            <span class="input">上传头像</span>
                            <input type="file" class="image-input" id="image-input" accept="image/gif,image/jpeg,image/png,image/jpg">
                            <!--<button class="putImage">确定上传</button>-->
                            <div class="img"><img></div>
                        </div>
                        <div class="un">
                            <label for="username" class="sr-only">用户名</label>
                            <input type="text" id="username" name="username" placeholder="输入用户名" required>
                            <p style="color:rgba(234, 234, 234, 0.63);font-size: 12px">不能含有非法字符!@#等</p>
                        </div>
                        <div class="pw">
                            <label for="password" class="sr-only">密码</label>
                            <input type="password" id="password" name="password" placeholder="输入密码" required>
                            <p style="color:rgba(234, 234, 234, 0.63);font-size: 12px">只能输入6-20个字母、数字、下划线</p>
                        </div>
                        <div class="rpw">
                            <label for="rpassword" class="sr-only">重复密码</label>
                            <input type="password" id="rpassword" name="rpassword" placeholder="再次输入密码" required>
                        </div>
                        <div class="career">
                            <label for="career" class="sr-only">职业</label>
                            <input type="text" id="career" name="career" placeholder="输入职业">
                        </div>
                        <div class="age">
                            <label for="age" class="sr-only">年龄</label>
                            <input type="text" id="age" name="age" placeholder="输入年龄">
                        </div>
                        <div class="city">
                            <label for="city" class="sr-only">城市</label>
                            <input type="text" id="city" name="city" placeholder="输入居住城市">
                        </div>
                        <div class="sex">
                            <label>性别</label>
                            <select class="option">
                                <option>女</option>
                                <option>男</option>
                                <option>其他</option>
                            </select>
                        </div>
                        <div class="question">
                            <div>如果时光倒流最想回到什么时候</div>
                            <input type="text" id="qs" name="qs" placeholder="用于找回密码">
                        </div>
                        <div class="register">
                            <button type="button" class="btn" id="register">注册</button>
                        </div>
                        <div class="login">
                            <span id="login">返回登录-></span>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <script type="text/javascript" src="/lib/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/lib/sweet-alert.js"></script>
    <script type="text/javascript" src="/lib/moxie.js"></script>
    <script type="text/javascript" src="/lib/plupload.min.js"></script>
    <script type="text/javascript" src="/lib/qiniu.js"></script>
    <script type="text/javascript" src="/javascripts/register.js"></script>
</body>
</html>